body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    border-bottom: 1px solid #30B868;
}

.logo span{
    font-size: 12px;
    font-weight: bold;
    color: #30B868;
}

.logo small{
    font-size: 12px;
    color: #666;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.btn{
    background: #30B868;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}
